<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="test">
            <directory suffix="Test.php">./tests/Domain</directory>
            <directory suffix="Test.php">./tests/UserInterface</directory>
        </testsuite>
        <testsuite name="test_io">
            <directory suffix="Test.php">./tests/Infra</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
